###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET={VOTRE_APP_SECRET}
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://{DB_USER}:{DB_PASSWORD}@database:3312/{DB_NAME}?serverVersion=mariadb-10.11.0"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE={VOTRE_JWT_PASSPHRASE}
###< lexik/jwt-authentication-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> symfony/mailer ###
MAILER_DSN=gmail://{GMAIL_ADDRESS}:{GMAIL_APP_PASSWORD}@default
MAILER_FROM_EMAIL={VOTRE_EMAIL}
###< symfony/mailer ### 