.mainLayout {
  @apply min-h-screen;
  background-color: #f3f4f6;
  padding-top: 160px;

  &__form_page {
    padding-top: 200px;
  }
}

.main {
  padding-top: 200px;

  @media (min-width: 768px) {
    padding-top: 250px;
  }

  &.form_page {
    @media (min-width: 768px) {
      padding-top: 100px;
    }
  }

  &.team_page {
    @media (min-width: 768px) {
      padding-top: 150px;
    }
  }

  &.dashboard_page {
    @media (min-width: 768px) {
      padding-top: 120px;
    }
  }

  &.account_page {
    padding-top: 150px;

    @media (min-width: 768px) {
      padding-top: 150px;
    }
  }

  &.teams_page {
    padding-top: 150px;

    @media (min-width: 768px) {
      padding-top: 150px;
    }
  }

  &.teams_create_page {
    padding-top: 150px;

    @media (min-width: 768px) {
      padding-top: 150px;
    }
  }

  min-height: calc(100vh - 450px);
  width: 100%;

  @apply flex-grow;
  position: relative;
  z-index: 1;

  [class*="__container"] {
    padding-top: 2rem;
  }

  [class*="__list"],
  [class*="__table"] {
    margin-top: 1.5rem;
  }
}

.themeSwitch {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 40;
}
